@model IEnumerable<project_management_for_ISOGES.Entities.UsuarioEnt>

@{
    ViewBag.Title = "Consultar Usuarios";
}

<div class="body-wrapper">

        <!--  Row 1 -->
            <div class="row">
                <div class="col-12">

                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th>Id</th>
                                <th>Identificación</th>
                                <th>Nombre</th>
                                <th>Apellido 1</th>
                                <th>Apellido2</th>
                                <th>Correo</th>
                                <th>Telefono</th>
                                <th>Puesto</th>
                                <th>Permisos</th>
                                <th>Estado</th>
                                <th>Accion</th>
                            </tr>
                        <thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>@item.IdUsuario</td>
                                    <td>@item.Identificacion</td>
                                    <td>@item.Nombre</td>
                                    <td>@item.Apellido1</td>
                                    <td>@item.Apellido2</td>
                                    <td>@item.CorreoElectronico</td>
                                    <td>@item.Telefono</td>
                                    <td>@item.Puesto</td>
                                    <td>@item.NombreTipoUsuario</td>
                                    <td>
                                        @if (item.Estado == true)
                                        {
                                            <p>Activo</p>
                                        }
                                        else
                                        {
                                            <p>Inactivo</p>
                                        }
                                    </td>
                                    <td>
                                        <button type="button" class="btn btn-light">Editar</button>
                                        <button type="button" class="btn btn-danger">Eliminar</button>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                    <a class="btn btn-success float-end" href="@Url.Action("CrearUsuario","Usuario")">Agregar Usuario</a>
                </div>
            </div>
        </div>
 