@model project_management_for_ISOGES.Entities.UsuarioEnt
@{
    ViewBag.Title = "CrearUsuario";
}

<div class="page-wrapper" id="main-wrapper" data-layout="vertical" data-navbarbg="skin6" data-sidebartype="full"
     data-sidebar-position="fixed" data-header-position="fixed">
    <div class="position-relative overflow-hidden radial-gradient min-vh-100 d-flex align-items-center justify-content-center">
        <div class="d-flex align-items-center justify-content-center w-100">
            <div class="row justify-content-center w-100">
                <div class="col-md-8 col-lg-6 col-xxl-3">
                    <div class="card mb-0">
                        <div class="card-body">
                            <a href="./index.html" class="text-nowrap logo-img text-center d-block py-3 w-100">
                                <img src="~/Images/isoges_new_logo1000x500.png" width="180" alt="">
                            </a>
                            @using (Html.BeginForm("Register", "Home", FormMethod.Post))
                            {
                                <form>
                                    <div class="mb-3">
                                        <label for="Name" class="form-label">Identificación</label>
                                        @Html.TextBoxFor(m => m.Id, new { @type = "text", @class = "form-control", @placeholder = "Identificación" })
                                    </div>
                                    <div class="mb-3">
                                        <label for="Name" class="form-label">Nombre</label>
                                        @Html.TextBoxFor(m => m.Name, new { @type = "text", @class = "form-control", @placeholder = "Nombre" })
                                    </div>
                                    <div class="mb-3">
                                        <label for="LastName" class="form-label">Apellido</label>
                                        @Html.TextBoxFor(m => m.LastName, new { @type = "text", @class = "form-control", @placeholder = "Apellido" })
                                    </div>
                                    <div class="mb-3">
                                        <label for="Email" class="form-label">Correo Electrónico</label>
                                        @Html.TextBoxFor(m => m.Email, new { @type = "email", @class = "form-control", @placeholder = "Correo Electrónico" })
                                    </div>
                                    <div class="mb-4">
                                        <label for="Email" class="form-label">Contraseña</label>
                                        @Html.TextBoxFor(m => m.Email, new { @type = "email", @class = "form-control", @placeholder = "Contraseña" })
                                    </div>
                                    <a href="./index.html" class="btn btn-primary w-100 py-8 fs-4 mb-4 rounded-2">Registrarse</a>
                                    <div class="d-flex align-items-center justify-content-center">
                                        <p class="fs-4 mb-0 fw-bold">Ya tienes una cuenta?</p>
                                        <a class="text-primary fw-bold ms-2" href="./authentication-login.html">Iniciar Sesión</a>
                                    </div>
                                </form>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

