@model IEnumerable<project_management_for_ISOGES.Entities.ProyectoEnt>

@{
    ViewBag.Title = "ConsultarProyectos";
}


<div class="body-wrapper">

    <!--  Row 1 -->
    <div class="row">
        <div class="col-12">

            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>Id Proyecto</th>
                        <th>Nombre</th>
                        <th>Cliente</th>
                        <th>Avance</th>
                        <th>Etapa</th>
                        <th>Estado</th>

                    </tr>
                <thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@item.IdProyecto</td>
                            <td>@item.NombreProyecto</td>
                            <td>@item.NombreEstado</td>
                            <td>@item.NombreCliente</td>
                            <td>@item.NombreEstado</td>

                            <td>
                                @if (item.Estado == true)
                                {
                                    <p>Activo</p>
                                }
                                else
                                {
                                    <p>Inactivo</p>
                                }
                            </td>
                            <td>
                                <a href="@Url.Action("EditarProyecto","Proyecto", new { q = item.IdProyecto })" class="btn btn-success">Editar</a>
                                <a href="@Url.Action("InactivarProyecto","Proyecto", new { q = item.IdProyecto })" class="btn btn-danger">Inactivar</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
            <div class="row">
                <div class="col-8">
                    <div style="text-align:center" class="" role="alert">
                        @ViewBag.MsjPantalla
                    </div>
                </div>


                <div class="container">
                    <div class="row">
                        <div class="col-4">
                            <a class="btn btn-primary float-left" href="@Url.Action("CrearProyecto","Proyecto")">Nuevo proyecto</a>
                        </div>
                    </div>
                </div>


            </div>

        </div>
    </div>
</div>