@model project_management_for_ISOGES.Entities.ClienteEnt
@{
    ViewBag.Title = "EditarCliente";
}

<h2>EditarUsuario</h2>

<div class="page-wrapper" id="main-wrapper" data-layout="vertical" data-navbarbg="skin6" data-sidebartype="full"
     data-sidebar-position="fixed" data-header-position="fixed">
    <div class="position-relative overflow-hidden radial-gradient min-vh-100 d-flex align-items-center justify-content-center">
        <div class="d-flex align-items-center justify-content-center w-100">
            <div class="row justify-content-center w-100">
                <div class="col-md-10 col-lg-8 col-xxl-6">
                    <div class="card mb-0">
                        <div class="card-body">
                            @using (Html.BeginForm("EditarCliente", "Clientes", FormMethod.Post))
                            {
                                <form>
                                    <div>
                                        @Html.TextBoxFor(m => m.IdCliente, new { @type = "hidden", @class = "form-control", @placeholder = "IdCliente" })
                                    </div>
                                    <div class="row mb-3">
                                        <div class="col-md-6">
                                            <label for="Nombre" class="form-label">Id</label>
                                            @Html.TextBoxFor(m => m.IdCliente, new { @type = "text", @class = "form-control", @placeholder = "Codigo" })
                                        </div>
                                        <div class="col-md-6">
                                            <label for="Nombre" class="form-label">Nombre</label>
                                            @Html.TextBoxFor(m => m.Nombre, new { @type = "text", @class = "form-control", placeholder = "Nombre" })
                                        </div>
                                    </div>
                                    <div class="row mb-3">
                                        <div class="col-md-6">
                                            <label for="Identificacion" class="form-label">Identificacion</label>
                                            @Html.TextBoxFor(m => m.Identificacion, new { @type = "text", @class = "form-control", placeholder = "Identificacion" })
                                        </div>
                                    </div>
                                    <div class="row mb-3">
                                        <div class="col-md-6">
                                            <label for="CorreoElectronico" class="form-label">Correo Electrónico</label>
                                            @Html.TextBoxFor(m => m.CorreoElectronico, new { @type = "text", @class = "form-control", placeholder = "Correo Electronico" })
                                        </div>
                                    </div>
                                    <div class="row mb-3">
                                        <div class="col-md-6">
                                            <label for="Telefono" class="form-label">Telefono</label>
                                            @Html.TextBoxFor(m => m.Telefono, new { @type = "text", @class = "form-control", placeholder = "telefono" })
                                        </div>
                                    </div>

                                    <div class="row justify-content-center">
                                        <div class="col-6">
                                            <button type="submit" class="btn btn-success w-100 py-2 fs-4 rounded-2">Actualizar Requerimiento</button>
                                        </div>
                                    </div>
                                </form>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

