<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>ISOGES Project Management</title>
    <link rel="shortcut icon" type="image/png" src="favicon.png" />
    <link href="~/assets/css/styles.min.css" rel="stylesheet" />
    <script src="https://cdn.jsdelivr.net/npm/apexcharts@3.12.0/dist/apexcharts.min.js"></script>

</head>
<body>
    @if ((bool)Session["PassIsTemp"])
    {
        <text>
            <script>
            window.location.href = '@Url.Action("CambiarContrasenaTemp", "Usuario")';
            </script>
        </text>
    }
    <!--  Body Wrapper -->
    <div class="page-wrapper" id="main-wrapper" data-layout="vertical" data-navbarbg="skin6" data-sidebartype="full"
         data-sidebar-position="fixed" data-header-position="fixed">
        <!-- Sidebar Start -->
        <aside class="left-sidebar">
            <!-- Sidebar scroll-->
            <div>
                <div class="brand-logo d-flex align-items-center justify-content-between">
                    <a href="@Url.Action("Index","Home")" class="text-nowrap logo-img">
                        <img src="~/Images/isoges_new_logo1000x500.png" width="180" alt="" />
                    </a>
                    <div class="close-btn d-xl-none d-block sidebartoggler cursor-pointer" id="sidebarCollapse">
                        <i class="ti ti-x fs-8"></i>
                    </div>
                </div>
                <!-- Sidebar navigation-->
                <nav class="sidebar-nav scroll-sidebar" data-simplebar="">
                    <ul id="sidebarnav">
                        <li class="nav-small-cap">
                            <i class="ti ti-dots nav-small-cap-icon fs-4"></i>
                            <span class="hide-menu">INICIO</span>
                        </li>
                        @*BACKLOG*@
                        <li class="sidebar-item">
                            <a class="sidebar-link" href="@Url.Action("Index","Home")" aria-expanded="false">
                                <span>
                                    <i class="ti ti-layout-dashboard"></i>
                                </span>
                                <span class="hide-menu">Dashboard</span>
                            </a>
                        </li>
                        <li class="nav-small-cap">
                            <i class="ti ti-dots nav-small-cap-icon fs-4"></i>
                            <span class="hide-menu">PERSONAL</span>
                        </li>
                        @*BACKLOG*@
                        <li class="sidebar-item">
                            <a class="sidebar-link" href="@Url.Action("Perfil","Usuario")" aria-expanded="false">
                                <span>
                                    <i class="ti ti-user"></i>
                                </span>
                                <span class="hide-menu">@Session["NombreUsuario"].ToString()  @Session["Apellido1"].ToString()</span>
                            </a>
                        </li>
                        @*BACKLOG*@
                        <li class="sidebar-item">
                            <a class="sidebar-link" href="@Url.Action("Agenda","Usuario")" aria-expanded="false">
                                <span>
                                    <i class="ti ti-calendar"></i>
                                </span>
                                <span class="hide-menu">Agenda</span>
                            </a>
                        </li>
                        <li class="nav-small-cap">
                            <i class="ti ti-dots nav-small-cap-icon fs-4"></i>
                            <span class="hide-menu">PROYECTOS</span>
                        </li>
                        @*BACKLOG*@
                        <li class="sidebar-item">
                            <a class="sidebar-link" href="./ui-buttons.html" aria-expanded="false">
                                <span>
                                    <i class="ti ti-article"></i>
                                </span>
                                <span class="hide-menu">Listado de proyectos</span>
                            </a>
                        </li>
                        <li class="sidebar-item">
                            <a class="sidebar-link" href="@Url.Action("CobrosMain","Cobro")" aria-expanded="false">
                                <span>
                                    <i class="ti ti-wallet"></i>
                                </span>
                                <span class="hide-menu">Cobros</span>
                            </a>
                        </li>
                        @*BACKLOG*@
                        <li class="sidebar-item">
                            <a class="sidebar-link" href="./ui-forms.html" aria-expanded="false">
                                <span>
                                    <i class="ti ti-file-description"></i>
                                </span>
                                <span class="hide-menu">Documentos</span>
                            </a>
                        </li>
                        @*ADMIN*@
                        <li class="nav-small-cap">
                            <i class="ti ti-dots nav-small-cap-icon fs-4"></i>
                            <span class="hide-menu">ADMINISTRATIVO</span>
                        </li>
                        <li class="sidebar-item">
                            <a class="sidebar-link" href="@Url.Action("ConsultarUsuarios","Usuario")" aria-expanded="false">
                                <span>
                                    <i class="ti ti-users"></i>
                                </span>
                                <span class="hide-menu">Usuarios</span>
                            </a>
                        </li>
                        <li class="sidebar-item">
                            <a class="sidebar-link" href="@Url.Action("ConsultarProyectos","Proyecto")" aria-expanded="false">
                                <span>
                                    <i class="ti ti-file"></i>
                                </span>
                                <span class="hide-menu">Proyectos</span>
                            </a>
                        </li>
                        <li class="sidebar-item">
                            <a class="sidebar-link" href="@Url.Action("ConsultarRequerimientos","Requerimientos")" aria-expanded="false">
                                <span>
                                    <i class="ti ti-books"></i>
                                </span>
                                <span class="hide-menu">Requerimientos</span>
                            </a>
                        </li>
                        <li class="sidebar-item">
                            <a class="sidebar-link" href="@Url.Action("ConsultarClientes","Cliente")" aria-expanded="false">
                                <span>
                                    <i class="ti ti-address-book"></i>
                                </span>
                                <span class="hide-menu">Clientes</span>
                            </a>
                        </li>
                        <li class="sidebar-item">
                            <a class="sidebar-link" href="@Url.Action("EnviarCorreo","Correo")" aria-expanded="false">
                                <span>
                                    <i class="ti ti-address-book"></i>
                                </span>
                                <span class="hide-menu">Enviar Correo</span>
                            </a>
                        </li>
                        @*FIN ADMIN*@
                        <li class="nav-small-cap">
                            <i class="ti ti-dots nav-small-cap-icon fs-4"></i>
                            <span class="hide-menu">AUTENTICACION</span>
                        </li>
                        <li class="sidebar-item">
                            <a class="sidebar-link" href="@Url.Action("CerrarSesion","Home")" aria-expanded="false">
                                <span>
                                    <i class="ti ti-login"></i>
                                </span>
                                <span class="hide-menu">Cerrar Sesion</span>
                            </a>
                        </li>
                    </ul>
                </nav>
                <!-- End Sidebar navigation -->
            </div>
            <!-- End Sidebar scroll-->
        </aside>
        <!--  Sidebar End -->
        <!--  Main wrapper -->

        @RenderBody()

    </div>
    <script src="~/assets/libs/jquery/dist/jquery.min.js"></script>
    <script src="~/assets/libs/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/assets/js/sidebarmenu.js"></script>
    <script src="~/assets/js/app.min.js"></script>
    <script src="~/assets/libs/apexcharts/dist/apexcharts.min.js"></script>
    @*<script src="https://cdn.jsdelivr.net/npm/apexcharts@3.12.0/dist/apexcharts.min.js"></script>*@
    <script src="~/assets/libs/simplebar/dist/simplebar.js"></script>
    <script src="~/assets/js/dashboard.js"></script>
</body>

</html>