@{
    ViewBag.Title = "Home Page";
}
<div class="body-wrapper">
    <div class="container-fluid">
        <!--  Division Mensual -->
        <div class="row">
            <div class="col-lg-8 d-flex align-items-strech">
                <div class="card w-100">
                    <div class="card-body">
                        <div class="d-sm-flex d-block align-items-center justify-content-between mb-9">
                            <div class="mb-3 mb-sm-0">
                                <h5 class="card-title fw-semibold">Nuevos proyectos @ViewBag.AnioActual</h5>
                            </div>
                        </div>
                        <div id="chartProyectosNuevos"></div>
                        <br>
                        <h5 class="card-title fw-semibold">Empleados por proyecto activos</h5>
                        <div id="chartEmpleadosPorProyecto"></div>
                    </div>
                </div>
            </div>

            <div class="col-lg-4">
                <div class="row">

                    <!-- Division Mensual -->
                    <div class="col-lg-12">
                        <div class="card overflow-hidden">
                            <div class="card-body p-12">
                                <h5 class="card-title mb-9 fw-semibold">Ingresos Anuales @ViewBag.AnioActual</h5>
                                <div class="row">
                                    <div class="col-12">
                                        <h4 class="fw-semibold mb-3">@ViewBag.TotalIngresosAnioActual</h4>
                                        <div class="col-12">
                                            <div id="chartMensual"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Historico de cobros -->
                        <div class="col-lg-12">
                            <div class="card">
                                <div class="card-body">
                                    <div class="row alig n-items-start">
                                        <div class="col-8">
                                            <h5 class="card-title mb-9 fw-semibold"> Historico de Ingresos </h5>
                                            <h4 class="fw-semibold mb-3">@ViewBag.TotalIngresosHistorico</h4>
                                            <div class="d-flex align-items-center pb-1">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div id="donutChart"></div>
                            </div>
                        </div>
                    </div>
                    @*Fin chart*@
                </div>
            </div>
        </div>
    </div>
</div>
<script>
//GRAFICO HISTORICO INGRESOS
    var datosDonut = {
        series: @Html.Raw(Json.Encode(ViewBag.MontosPorAnio)),
        labels: @Html.Raw(Json.Encode(ViewBag.Anios)),
    };

    var opcionesDonut = {
        chart: {
            type: 'donut',
        },
        labels: datosDonut.labels,
        series: datosDonut.series,
        colors: ['#5D87FF', '#00D8B6', '#FFB70F', '#FEB019'],
    };

    var donutChart = new ApexCharts(document.querySelector("#donutChart"), opcionesDonut);
    donutChart.render();

//GRAFICO ANIO ACTUAL INGRESOS
    const options1 = {
        chart: {
            type: 'bar',
            height: 350,
            horizontal: true,
        },
        plotOptions: {
            bar: {
                horizontal: true,
            }
        },
        series: [{
            name: 'Datos Mensuales',
            data: @Html.Raw(Json.Encode(ViewBag.ListaIngresosPorMes)), // Reemplaza estos datos con tus datos mensuales
            data: @Html.Raw(Json.Encode(ViewBag.ListaIngresosPorMes)),
        }],
        xaxis: {
            categories: ['Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo', 'Junio', 'Julio', 'Agosto', 'Septiembre', 'Octubre', 'Noviembre', 'Diciembre'],
        },
    };

    var chart2 = new ApexCharts(document.querySelector("#chartMensual"), options1);
    chart2.render();

//GRAFICO PROYECTOS ACTIVOS POR MES
    const options2 = {
        chart: {
            type: 'area',
            height: 350,
        },
        series: [{
            name: 'Datos Mensuales',
            data: [30, 40, 25, 50, 49, 21, 70, 51, 42, 29, 60, 48], // Reemplaza estos datos con tus datos mensuales
            data: [30, 40, 25, 50, 49, 21, 70, 51, 0, 0, 0, 0], // Reemplaza estos datos con tus datos mensuales
        }],
        xaxis: {
            categories: ['Ene', 'Feb', 'Mar', 'Abr', 'May', 'Jun', 'Jul', 'Ago', 'Sep', 'Oct', 'Nov', 'Dic'],
        },
    };

    var chart3 = new ApexCharts(document.querySelector("#chartProyectosNuevos"), options2);
    chart3.render();

//GRAFICO EMPLEADOS POR PROYECTO

    var options3 = {
        series: [{
            name: 'Cantidad de Empleados',
            data: [4, 5, 7, 5, 6, 5, 3, 6, 6] // Reemplaza estos datos con la cantidad de empleados por proyecto
        }],
        chart: {
            type: 'bar',
            height: 350
        },
        plotOptions: {
            bar: {
                horizontal: false,
                columnWidth: '55%',
                endingShape: 'rounded'
            },
        },
        dataLabels: {
            enabled: false
        },
        stroke: {
            show: true,
            width: 2,
            colors: ['transparent']
        },
        xaxis: {
            categories: ['Proyecto A', 'Proyecto B', 'Proyecto C', 'Proyecto D', 'Proyecto E', 'Proyecto F', 'Proyecto G', 'Proyecto H', 'Proyecto I'], // Nombres de los proyectos
        },
        yaxis: {
            title: {
                text: 'Cantidad de Empleados'
            }
        },
        fill: {
            opacity: 1
        },
        tooltip: {
            y: {
                formatter: function (val) {
                    return val; // No es necesario mostrar el formato monetario aquí
                }
            }
        }
    };

    var chart = new ApexCharts(document.querySelector("#chartEmpleadosPorProyecto"), options3);
    chart.render();


</script>